:root {
  --text-color-primary: #212121;
  --text-color-secondary: #757575;
  --brand-color-accent: #2196f3;
  --brand-color-bg: #2f303a;
  --bgcolor-primary: #ffffff;
  --bgcolor-secondary: #f5f4fa;
}

body {
  background: var(--bgcolor-primary);
  color: var(--text-color-primary);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  list-style-type: none;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  outline: 2px solid tomato;
}

/* page header */
.page-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ECECEC;;
}

/*logo*/

.logo {
  padding-top: 24px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  color: var(--brand-color-accent);
}

.logo-header {
  color: #000000;
}

.logo-footer {
  color: #ffffff;
}

/*menu-nav*/

.site-nav {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;

  color: inherit;
}

/*Contacts*/

.contacts {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.contacts .link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;

  color: var(--text-color-secondary);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--brand-color-accent);
}

/*Hero*/

.hero {
  background-color: var(--brand-color-bg);
  text-align: center;
}

.hero-title {
  width: 696px;
  height: 120px;
  margin: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  padding: 10px 32px;
  margin-top: 30px;
  border: 0;
  border-radius: 4px;

  background-color: var(--brand-color-accent);
  color: #ffffff;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
  background: #188ce8;
}
/*Section*/

.section {
  padding: 94px 0;
  /* background-color: teal; */
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/*Features*/

.features {
  display: flex;
}

.features .item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.features-description {
  display: block;
  margin-top: 10px;

  font-size: 14px;
  line-height: 1.7;

  color: #757575;
}

/*Work*/

.work {
  margin-top: 50px;
  display: flex;
}

.work .item:not(:last-child) {
  margin-right: 30px;
}

/*Team*/

.team {
  display: flex;
  background-color: var(--bgcolor-secondary);
}

.team .cards{
  margin-top: 50px;
}

.team .cards:not(:last-child){
  margin-right: 20px;
}

.cards{
  background-color: var(--bgcolor-primary);
  text-align: center;
}

.cards-title {
  margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.cards-captions {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color-secondary);
}

/*Footer*/

.footer {
  padding: 94px 0;
  background-color: var(--brand-color-bg);
}

.address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
}

.address .link {
  display: block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}


.link:hover,
.link:focus {
  color: var(--brand-color-accent);
}

/*Portfolio*/

.filter-button {
  cursor: pointer;

  background-color: var(--bgcolor-secondary);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  border: 0;
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: var(--brand-color-accent);
}

.gallery .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-caption {
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-color-secondary);
}
